@(dir: String)

@import java.io.File

@display(file: File) = {
  @if(file.isDirectory) {
  	<li>@file.getName
    <ul>
    @for(child <- Option(file.listFiles).getOrElse(Array())) {
		@display(child)
	}
    </ul>
    </li>
  } else {
  	<li><a href="@file.getAbsolutePath">@file.getName</a></li>
  }
}

<ul id="menu">

@for(child <- Option(new File(dir).listFiles).getOrElse(Array()).partition{_.isDirectory}._1 ++
	Option(new File(dir).listFiles).getOrElse(Array()).partition{_.isDirectory}._2
) {
	@display(child)
}

</ul>

