@(text: String)


	<div class="graph-info">
		<a href="javascript:void(0)" class="visitors">Altitude</a>
		<a href="#" id="bars"><span></span></a>
		<a href="#" id="lines" class="active"><span></span></a>
	</div>

	<div class="graph-container">
		<div id="graph-lines"></div>
		<div id="graph-bars"></div>
	</div>
	
	<div class="graph-info">
		<a href="javascript:void(0)" class="returning">GroundSpeed</a>
		<a href="#" id="bars2"><span></span></a>
		<a href="#" id="lines2" class="active"><span></span></a>
	</div>

	<div class="graph-container">
		<div id="graph-lines2"></div>
		<div id="graph-bars2"></div>
	</div>

